/*
Author: Vansh Bhardwaj
Student ID: 9049792
File: styles.css
Purpose: Styling for Famous City Page - Assignment 2
*/

/* 1. Root Element Styling */
html {
    font: italic small-caps bold 20px/1.5 'Segoe UI', sans-serif;
    background-color: #f3f3f3;
}

/* 2. Body Styling */
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border: 0.2rem solid #ccc;
    background-color: #ffffff;
}

/* 3. Layout for main and aside using floats */